
# These are the environment variables that are typically required to run
# NX and Teamcenter. Most of these should already have been set up by your
# system administrator. Many of these variables are based on a typical
# TC/NX Windows installation.

# NX Version number. This variable is not required to run TC/NX
# but is required in this file for determining other environment variables.
NX_VERSION=2406

# The UGII_BASE_DIR variable is required to run NX in most instances,
# And should already be set up as part of the NX Installation.
# UGII_BASE_DIR=C:/Siemens/NX${NX_VERSION}

#########################################################
# NX licensing variables
# Contact your system admin to identify these license servers if they
# are not already provided in your system environment
#########################################################
# SPLM_LICENSE_SERVER=
UGII_ROOT_DIR=${UGII_BASE_DIR}
UGII_UGMGR_COMMUNICATION=HTTP
# UGII_UGMGR_HTTP_URL=
# UGS_LICENSE_BUNDLE=

#########################################################
# Teamcenter specific variables, required if you are using NX with Teamcenter
# integration
#########################################################
FMS_HOME=${UGII_BASE_DIR}/../Teamcenter${NX_VERSION}/TCCS/tccs
UGII_OEM_DEFINITION_DIRECTORY=${UGII_BASE_DIR}/../NXLauncherEnv_${NX_VERSION}
UGII_TC_CONNECTION_OPTIONS_DIRECTORY=${UGII_BASE_DIR}/../NXLauncherEnv_${NX_VERSION}
# Path to your Java Runtime Environment
# Sometimes included with Siemens TC/NX distribution
JRE_HOME=${UGII_BASE_DIR}/../Java/jre17

#########################################################
# SSO Specific variables, required if you are using SSO to authenticate
# to Teamcenter. Note that these variables should be unset if you are
# planning to use username/password authentication.
#########################################################
# Set ENABLE_SSO to false if using username/password
ENABLE_SSO=true
# NX_SSO_URL and NX_SSO_APP_ID must be unset if using username/password
# NX_SSO_URL=
NX_SSO_APP_ID=TCProd
TCSSO_SESSION_AGENT_PATH=${UGII_BASE_DIR}/../Teamcenter${NX_VERSION}/SecurityServicesSA

